2ª EVAL/TEMA 4/libreria-pt-2/libreria.dtd

<!ELEMENT libreria (castellano,otrosIdiomas)>
<!ELEMENT castellano (libro+)>
<!ELEMENT libro (autor,edicionEspecial,saga+,paquete*,(descuento|regalo))>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT edicionEspecial (#PCDATA)>
<!ELEMENT saga (#PCDATA)>
<!ELEMENT paquete (#PCDATA)>
<!ELEMENT descuento (#PCDATA)>
<!ELEMENT regalo (#PCDATA)>

<!ELEMENT otrosIdiomas (libroOI+)>
<!ELEMENT libroOI (autor,edicionEspecial,saga+,paquete*,(descuento|regalo),idioma)>
<!ELEMENT idioma (#PCDATA)>